
.env
.env.local

# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Виртуальное окружение ---
venv/
.venv/
env/

# --- Настройки редакторов кода ---
.idea/
.vscode/
*.swp
*.swo

# --- Операционные системы ---
.DS_Store
Thumbs.db

# --- Базы данных и логи ---
*.sqlite3
*.db
*.log

# --- Docker ---
pg_data/